<div class="container-fluid" *ngIf="loadPage">
  <app-side-bar-login></app-side-bar-login>
  <div class="row main">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="login-form">
        <h2>{{labels.loginHead}}</h2>
        <form [formGroup]="form" (ngSubmit)="moveNextEventPage()" style="box-shadow: none !important;">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          <hr>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-primary">{{labels.login}}</button>
            </div>
            <div class="col text-left">
              <button type="button" class="btn btn-primary">{{labels.register}}</button>
            </div>
          </div>
          <br/>
        </form>
      </div>
    </div>
  </div>
</div>

