@import 'variables';

////////////////////////////////////////////LOGIN STYLES/////////////////////////////////////

.twitter-bird span {
  border: 2px solid var(--app-color-secondary);
  border-radius: 50px;
  color: var(--app-color-secondary);
  display: inline-block;
  margin-bottom: 50px;
  height: 90px;
  width: 90px;
}

.twitter-bird span i {
  line-height: 90px;
}

////////////////////////////////////////////MENU STYLES/////////////////////////////////////
.mat-toolbar.mat-primary {
  background-color: var(--app-color-secondary);
}

////////////////////////////////////////////TABLE STYLES/////////////////////////////////////
mat-header-cell > div > button > span {
  color: var(--app-color-secondary);
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
  width: 100% !important;
}

button.mat-menu-item {
  color: var(--app-color-primary);
}

////////////////////////////////////////////GENERAL STYLES/////////////////////////////////////
span > label > mat-label {
  color: var(--app-color-primary);
}

i {
  color: var(--app-color-primary);
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
  width: 100% !important;
}

.position-static {
  position: static;
}

.btn-primary {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.btn-primary:hover {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-secondary);
  border-color: var(--app-color-secondary);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.btn-primary.focus, .btn-primary:focus {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.btn-secondary {
  color: var(--app-color-secondary);
  background-color: var(--app-color-secondary);
  border-color: var(--app-color-primary-tint);
}

.btn-secondary:hover {
  color: var(--app-color-primary-tint);
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: var(--app-color-primary);
}

.btn-link {
  color: var(--app-color-primary);
}

.btn-link:hover {
  color: var(--app-color-secondary);
}

a.btn-secondary {
  color: var(--app-color-primary);
  background-color: var(--ion-color-quaternary-shade);
  border-color: var(--ion-color-quaternary-shade);
  padding: 1em 1.5em !important;
  font-weight: 600;
}

.align-center {
  text-align: center !important;
  margin: 0 auto !important;
}

// Striped table
.mat-row:nth-child(even){
  background-color: var(--app-color-table-strip-even);
}

// Striped table
.mat-row:nth-child(odd){
  background-color: var(--app-color-table-strip-odd);
}

.mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
  color: var(--app-color-error);
}

hr.u {
  border: 15px solid var(--app-color-primary);
  border-top-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr.d {
  border: 15px solid var(--app-color-secondary);
  border-top-width: 0px;
  margin-top: 0px;
}

.imgLogo {
  width: 100%;
}
