.main-head {
  height: 150px;
  background: #FFF;
}

.sidenav {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

.logoSize {
  margin-left: 20%;
  margin-bottom: 10px;
  width: 50%;
}

@media screen and (max-width: 1300px) {
  .logoSize {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .logoSize {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .logoSize {
    margin-left: 0;
    width: 100%;
  }

  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 80%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  padding-top: 35%;
  padding-bottom: 35%;
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  background-color: #2f3238;
}

.brandsLogin {
  padding-right: 0;
  padding-left: 0;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

/*=================================================================
	Twitter Feed
==================================================================*/

#twitter-feed {
  padding-bottom: 100px;
  padding-top: 80px;
}

.twitter-bird span {

}



.tweet {
  margin-bottom: 10px;
}

.tweet a {
  color: #52BBD5;
}

.imageSize {
  height: 50%;
}

.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundLogin {
  background-position: 50%;
  position: relative;
  bottom: -105px;
}

